p {
    margin: 0;
}

.wrapper {
    /* width: 100%; */
    border-radius: 0.5rem;
    background-color: var(--grey1);
    padding: 0.5rem;
}

.wrapper > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
}

.cards::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.cards::-webkit-scrollbar-track {
    background: var(--grey1);
    border: 1px var(--grey1) solid;
    border-radius: 20px;
}

.cards::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 20px;
    border: none;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--grey3);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.card > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card > div:nth-child(1) {
    justify-content: space-between;
    min-width: max-content;
    gap: 1rem;
    font-weight: 600;
}

.card > div:nth-child(2) {
    justify-content: space-between;
}

.card > div:nth-child(3) {
    justify-content: space-between;
    min-width: max-content;
    gap: 1rem;
    font-weight: 600;
}

.card > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.icon {
    font-size: 0.9rem;
}
