body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    /* --primary: rgb(5, 5, 16); */
    --grey1: #ececef;
    --grey2: #d3d3d3;
    --grey3: #f7f7f7;
    --text: #454545;
    --blue: #2e5fb9;
    --red: #c01e1e;
    --skyblue: #44bef7;
    --yellow: #f7e049;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.7rem;
}

body::-webkit-scrollbar-track {
    background: var(--grey1);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 20px;
    border: none;
}
